.DS_Store
.classpath
.project
.settings/
target/
target-grunt/
test-output/
*.class
*.iml
*.log
.idea/
.gitattributes
bin/
.metadata/
.metadata
*.versionsBackup
bin/
*/MANIFEST.MF
*.launch
.recommenders/
*.jshintrc
sample-component-server/target/
sample-component-widget/target/
