<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>SwaggerUIServlet</servlet-name>
        <servlet-class>com.fluig.swagger.ui.SwaggerUIServlet</servlet-class>
        <init-param>
            <param-name>version</param-name>
            <param-value>my-component</param-value>
        </init-param>
        <init-param>
            <param-name>swaggerFile</param-name>
            <param-value>/swagger-ui/swagger.json</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwaggerUIServlet</servlet-name>
        <url-pattern>/swagger-ui/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FluigLoggingFilter</filter-name>
        <filter-class>com.totvs.technology.foundation.common.FluigLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FluigLoggingFilter</filter-name>
        <url-pattern>/my-component/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SessionAPIDestroyerFilter</filter-name>
        <filter-class>com.totvs.technology.foundation.common.SessionAPIDestroyerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionAPIDestroyerFilter</filter-name>
        <url-pattern>/my-component/*</url-pattern>
    </filter-mapping>

    <security-constraint>
        <display-name>Store API my-component</display-name>
        <web-resource-collection>
            <web-resource-name>API my-component</web-resource-name>
            <description>API my-component</description>
            <url-pattern>/my-component/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>API my-component</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>totvstech</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>sysadmin</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>TOTVSTech</realm-name>
        <form-login-config>
            <form-login-page>/unauthorized</form-login-page>
            <form-error-page>/loginerror</form-error-page>
        </form-login-config>
    </login-config>
</web-app>